---
layout: default
title: OSSM | Adviseert
seo:
  title: OSSM | Interieurarchitectuur en grafisch ontwerp
  description: Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. We worden dan ook graag zo vroeg mogelijk bij een project betrokken en nemen met plezier het totaalontwerp voor een renovatie of nieuwbouwproject op ons. We combineren tevens jarenlange ervaring in interieurarchitectuur met sterke grafische ontwerpen. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.
  social_image:
  twitter_card:
  keywords: 
  hide-from-google: false
services-adv:
 - column-size: col-4_lg-8_md-9_sm-10_xs-12
   background_image_adv: /images/imaginate-ossm-adviessessie.jpeg
   name-service-adv: Adviessessie
   description-adv: We komen langs bij jou thuis, en samen bekijken we je ruimte, je stijl, je vragen. Je krijgt meteen concrete tips en inzichten waar je mee verder kan. Ideaal voor wie liever live praat, of met iets specifieks zit zoals materialen, indeling of sfeer.
   follow-link-adv: /adviseert-aanbod.html#adviessessie
   bg-image: bg-image
 - column-size: col-4_lg-8_md-9_sm-10_xs-12
   background_image_adv: /images/imaginate-ossm-brainstormsessie.jpeg
   name-service-adv: Brainstormsessie
   description-adv: Heb je meer nodig dan snelle tips? We duiken samen je ruimte in met voorbereiding, stalen, een verslag én een opvolgmoment. Zo krijg je echte houvast bij jouw volgende stappen.
   follow-link-adv: /adviseert-aanbod.html#brainstormsessie
   bg-image: bg-image-service-cards-1
 - column-size: col-4_lg-8_md-9_sm-10_xs-12
   background_image_adv: /images/imaginate-ossm-planalyse.jpeg
   name-service-adv: Plananalyse
   description-adv: Nood aan een ‘second opinion’ of een heldere kijk op jouw bouwplannen? Nog voor de bouwaanvraag gebeurd, bekijken we samen hoe we de binnenkant van jouw toekomstige woning volledig kunnen afstemmen op jouw manier van leven! 
   follow-link-adv: /adviseert-aanbod.html#plananalyse
   bg-image: bg-image
services-ont:
 - column-size: col-4_lg-8_md-9_sm-10_xs-12
   background_image_ont: /images/bynouchka-160224-lindsay-4.jpg
   name-service-ont: (re)Branding
   description-ont: Of je nu net start of al bakken ervaring hebt, wij helpen ambitieuze ondernemers aan een duidelijke visie en goesting om hun verhaal helemaal juist te vertellen. Samen zorgen we ervoor dat jouw visuele identiteit (logo, huisstijl, branding, website, sociale media, etc.) perfect aansluit bij je missie, waarden en persoonlijkheid, zodat alles één geheel vormt dat echt bij jou past.
   follow-link-ont: /ontwerpt-aanbod.html#rebranding
   bg-image: bg-image-service-cards-2
 - column-size: col-4_lg-8_md-9_sm-10_xs-12
   background_image_ont: /images/imaginate-ossm-interieurproject.jpg
   name-service-ont: Interieurproject 
   description-ont: Van woning tot werkplek, we ontwerpen ruimtes die werken voor jou. Slimme indeling, oog voor comfort, in de gekozen sfeer  en met maatwerk, zodat elk detail klopt met wie jij bent en hoe jij leeft of werkt. Of het nu gaat om één specifieke kamer, een renovatie of een totaalproject, we creëren een interieur waar je je goed voelt, elke dag opnieuw.
   follow-link-ont: /ontwerpt-aanbod.html#interieurproject
   bg-image: bg-image
 - column-size: col-4_lg-8_md-9_sm-10_xs-12
   background_image_ont: /images/imaginate-ossm-ontwerpt.jpeg
   name-service-ont: Totaalconcept
   description-ont: Wij helpen ambitieuze ondernemers om hun visie tastbaar te maken — in hun merk én hun ruimte. Door branding en interieur op elkaar af te stemmen, creëren we een totaalconcept dat professionaliteit, persoonlijkheid en vertrouwen uitstraalt. Zo groeit jouw bedrijf met een uitstraling die klopt, van binnen én van buiten.
   follow-link-ont: /ontwerpt-aanbod.html#totaalconcept
   bg-image: bg-image
---

<!-------------------------- Header Banner  ------------------------------->

<section class="padded-10 mdl-padded-5 grid-bottom tall-60 md-tall-80 md-padded-6 md-padded-t-10 sm-padded-5 xs-padded-3 padded-t-0">
  <div class="padded-4 col-6_md-12 grid xs-padded-2 ">
    <div class="col-12 padded-4 padded-r-7 md-padded-l-4 md-padded-r-4 md-padded-2 xs-padded-2">
        <div class="tall-70 bg-image bg-aanbod padded-r-2"> </div>   
    </div>
  </div> 

  <div class="padded-4 col-6_md-12 xs-padded-2"> 
    <h1 class="text-left title-oversized xs-title-oversized"> Aanbod. </h1>
    <hr class="padded-t-0">

    <div class="padded-t-0">
      <p> <strong> Van droom tot uitvoering</strong>. Je wilt een interieur dat écht bij je past – eentje dat rust brengt, of net creativiteit aanwakkert. Of je wil je zaak in een nieuw jasje steken, met een interieur én branding die jouw visie uitstralen.</p>
      
      <p> Soulmade vertaalt jouw verhaal naar een concreet, persoonlijk ontwerp. En als jij dat wil, begeleiden we je ook bij de uitvoering – van het eerste moodboard tot het laatste schroefje.</p>
      

      <p>
        <strong>Geen stijve praat, wel een ontwerp dat werkt</strong>. Soulmade denkt mee, voelt aan en durft verder kijken dan de laatste trend. Samen maken we er iets van dat blijft plakken.
      </p>

        <nav>
            <a href="/aanbod.html#adviseert" class="button-dark"> Adviseert &#8595; </a>
            <a href="/aanbod.html#ontwerpt" class="button-dark"> Ontwerpt &#8595; </a>
        </nav>
        
    </div>
  </div>     
</section>

<!-------------------------- Adviseert  ------------------------------->
<section id="adviseert"class="padded-10 mdl-padded-5 grid-middle md-padded-6 sm-padded-5 xs-padded-3 tall-60 padded-t-0 md-padded-t-2">
    <div class="grid padded-4 padded-b-2">
        <h2  class="title-medium-oversized"> ADVISEERT </h2>
        <div class="col-12 divider-left padded-b-0">
            <p> Klein advies, grote helderheid. Twijfel je over je interieur? Voelt het alsof je vastzit in eindeloze keuzes? Geen nood: soms is één goed gesprek al genoeg om terug richting te voelen. Soulmade biedt laagdrempelige adviessessies, speciaal voor wie graag eerst even aftast of hulp nodig heeft bij één specifiek onderdeel.</p>
        </div>
    </div>  

    <div class="grid padded-4 padded-b-2 bg-ligt padded-t-0">
        <div class="grid-equalHeight">
            {% for item in page.services-adv %} 
                <!---- Service Cards ----->
                <div class="{{item.column-size}} padded-r-2 padded-l-0"> 
                    <a href="{{item.follow-link-adv}}" class="card bg-light-grey">
                        <div class="{{item.bg-image}} landscape" style="background-image: url('{{item.background_image_adv}}');"></div>
                        <div class="padded-2">
                            <h3 class="uppercase medium-text black-text font-weight-200"> {{item.name-service-adv}} </h3>
                            <p> {{item.description-adv}} </p>
                            <p class="button"> <span> Meer info </span> 
                                <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                                    <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
                                </svg>
                            </p>
                            <!-- <a href="{{item.follow-link}}" class="button"> Meer info </a> -->
                        </div>
                    </a>
                </div>
                
            {% endfor %}
        </div> 
    </div>
</section>


<!-------------------------- Ontwerpt  ------------------------------->
<section id="ontwerpt" class="padded-10 mdl-padded-5 grid-middle md-padded-6 sm-padded-5 xs-padded-3 tall-60 padded-t-0 md-padded-t-2">
    <div class="grid padded-4 padded-b-2">
        <h2 class="title-medium-oversized"> ONTWERPT </h2>
        <div class="col-12 divider-left padded-b-0">
            <p> Wij helpen zowel particulieren als ondernemers om een totaalconcept te realiseren dat écht klopt. Van een thuis creëren die perfect aansluit bij hun levensstijl, wensen en noden, met slimme optimalisaties en maatwerkoplossingen tot ondernemers begeleiden in het creëren van een consistente branding, waarbij de uitstraling van hun merk volledig wordt doorgevoerd in het interieur van hun zaak.</p>
        </div>
    </div>  

    <div class="grid padded-4 padded-b-2 bg-ligt padded-t-0">
        <div class="grid-equalHeight">
            {% for item in page.services-ont %} 
                <!---- Service Cards ----->
                <div class="{{item.column-size}} padded-r-2 padded-l-0"> 
                    <a href="{{item.follow-link-ont}}" class="card bg-light-grey">
                        <div class="{{item.bg-image}} landscape" style="background-image: url('{{item.background_image_ont}}');"></div>
                        <div class="padded-2">
                            <h3 class="uppercase medium-text black-text font-weight-200"> {{item.name-service-ont}} </h3>
                            <p> {{item.description-ont}} </p>
                            <p class="button"> <span> Meer info </span> 
                                <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                                    <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
                                </svg>
                            </p>
                            <!-- <a href="{{item.follow-link}}" class="button"> Meer info </a> -->
                        </div>
                    </a>
                </div>
                
            {% endfor %}
        </div> 
    </div>
</section>

<section class="grid-center padded-5 padded-t-0 padded-b-5">
    <div class="col-12-center text-center">

        <hr class="short text-center"> 

        <h4 class="margin-b-05">Design made with soul</h4>

    </div>
</section>