---
layout: default
title: OSSM | Advies Interieurarchitectuur
seo:
  title: OSSM | Advies Interieurarchitectuur
  description: In slechts één gesprek bij jou thuis krijg je een helder en haalbaar interieuradvies, helemaal afgestemd op jouw smaak en budget. Geen gedoe met plannen of dure rapporten—gewoon 2 uur praktisch, creatief en persoonlijk advies waarmee je direct aan de slag kunt
  social_image:
  twitter_card:
  keywords: 
  hide-from-google: false
---
<header>
    
    {% include site-header-nav.html %}
    
    <!-------------------------- Header Banner ------------------------------->

    <section>
        <div class="grid-equalHeight"> 
            
            {% for item in page.services %}
    
                <div class="overlay padded-t-0 {{item.padding}} {{item.column-size}}"> 
                    <a href="{{item.follow-link}}" class=" clickable-box bg-image tall-100 mdl-tall-50" style="background-image: url('{{item.background_image}}');"> 
                        <div class="overlay padded-5"> 
                            <h3> {{item.name-service}} </h3>
                            <p> {{item.description}}  </p>
                        </div>
                    </a>
                </div>
    
                {% endfor %}
            </div> 
    </section>
</header>