---
layout: default
title: OSSM | Interieurarchitectuur en grafisch ontwerp
seo:
  title: OSSM | Interieurarchitectuur en grafisch ontwerp
  description: Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. We worden dan ook graag zo vroeg mogelijk bij een project betrokken en nemen met plezier het totaalontwerp voor een renovatie of nieuwbouwproject op ons. We combineren tevens jarenlange ervaring in interieurarchitectuur met sterke grafische ontwerpen. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.
  social_image:
  twitter_card:
  keywords: 
  hide-from-google: false
sessies:
  - id: adviessessie
    title: "Adviessessie"
    bg_class: "bg-adviessessie"
    package: "adviessessie"
    price: "€345"
    for_who_title: "Voor wie?"
    for_who_text: "Heb je een ruimte waarbij je niet goed weet welke richting je uit moet gaan maar ook niet zo veel budget? Je hebt geen idee hoe je de indeling van je ruimte moet maken, of in welke stijl je nu graag verder wilt gaan, om nog maar te zwijgen over de materialenkeuze. Na onze mondelinge adviezen bij jou thuis kan je doelgericht verder gaan!"
    what_title: "Wat houdt het in?"
    what_items:
      - "VOORBEREIDING: niet nodig"
      - "SESSIE: We komen (max) 2u lang ter plaatse, jij stelt je vragen of toont waar je momenteel tegen aan loopt. * Terwijl wij ons advies mondeling geven, mag jij gerust notities maken."
  - id: brainstormsessie
    title: "Brainstormsessie"
    bg_class: "bg-brainstormsessie"
    package: "brainstormsessie"
    price: "€345"
    for_who_title: "Voor wie?"
    for_who_text: "Heb je een ruimte waarbij je niet goed weet welke richting je uit moet gaan maar ook niet zo veel budget? Je hebt geen idee hoe je de indeling van je ruimte moet maken, of in welke stijl je nu graag verder wilt gaan, om nog maar te zwijgen over de materialenkeuze. Na onze mondelinge adviezen bij jou thuis kan je doelgericht verder gaan!"
    what_title: "Wat houdt het in?"
    what_items:
      - "VOORBEREIDING: niet nodig"
      - "SESSIE: We komen (max) 2u lang ter plaatse, jij stelt je vragen of toont waar je momenteel tegen aan loopt. * Terwijl wij ons advies mondeling geven, mag jij gerust notities maken."
  - id: plananalyse
    title: "Plananalyse"
    bg_class: "bg-plananalyse"
    package: "plananalyse"
    price: "€345"
    for_who_title: "Voor wie?"
    for_who_text: "Heb je een ruimte waarbij je niet goed weet welke richting je uit moet gaan maar ook niet zo veel budget? Je hebt geen idee hoe je de indeling van je ruimte moet maken, of in welke stijl je nu graag verder wilt gaan, om nog maar te zwijgen over de materialenkeuze. Na onze mondelinge adviezen bij jou thuis kan je doelgericht verder gaan!"
    what_title: "Wat houdt het in?"
    what_items:
      - "VOORBEREIDING: niet nodig"
      - "SESSIE: We komen (max) 2u lang ter plaatse, jij stelt je vragen of toont waar je momenteel tegen aan loopt. * Terwijl wij ons advies mondeling geven, mag jij gerust notities maken."
---
<!-------------------------- Header Banner  ------------------------------->
<section class="padded-10 mdl-padded-5 grid-bottom tall-60 md-tall-80 md-padded-6 md-padded-t-10 sm-padded-5 xs-padded-3 padded-t-0">

  <div class="padded-4 col-6_md-12 grid xs-padded-2">
    <div class="col-12 padded-4 padded-r-7 md-padded-l-4 md-padded-r-4 md-padded-2 xs-padded-2">
        <div class="tall-70 md-tall-50 bg-image bg-portfolio"> </div>   
    </div>
  </div> 

  <div class="padded-4 col-6_xs-12"> 
    <h1 class="text-left title-oversized xs-title-oversized"> Adviseert. </h1>
    <hr class="padded-t-0">

    <div class="padded-t-0">
      <p>
       <strong> Klein advies, grote helderheid</strong>. Twijfel je over je interieur? Voelt het alsof je vastzit in eindeloze keuzes? 	Geen nood: soms is één goed gesprek al genoeg om terug richting te voelen.
      </p>

      <p>
        Soulmade biedt <strong>laagdrempelige adviessessies</strong>, speciaal voor wie graag eerst even aftast of hulp nodig heeft bij één specifiek onderdeel.
      </p>


      <nav>
        <a href="/adviseert-aanbod.html#adviessessie" class="button-dark"> Adviessessie &#8595; </a>
        <a href="/adviseert-aanbod.html#brainstormsessie" class="button-dark"> Brainstormsessie &#8595; </a>
        <a href="/adviseert-aanbod.html#plananalyse" class="button-dark"> Plananalyse &#8595; </a>
        <a href="/adviseert-aanbod.html#projecten" class="button-filled-dark">  
          <span>Projecten</span>
          <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
             <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
          </svg> 
        </a>
      </nav>
    </div>
  </div>    
  
  <!-- <div class="padded-4 col-6 grid hide-md">
    <div class="col-12-middle padded-4">
        <div class="tall-70 md-tall-50 bg-image bg-image-lindsay-26"> </div>   
    </div>
  </div>  -->
</section>


<!-------------------------- Advies aanbod  ------------------------------->
{% for sessie in page.sessies %}
<section class="grid-middle padded-10 mdl-padded-5">  

  <div class="col-6-bottom_md-12-bottom grid">
    <div class="padded-l-5 padded-r-7 padded-b-0 col-12 hide-sm">
      <div class="tall-80 bg-image {{ sessie.bg_class }} has-price">
        <!-- <span class="price-tag-l">{{ sessie.price }}</span> -->
      </div>
    </div>
  </div>

  <div id="{{ sessie.id }}" class="padded-5 col-6-bottom_md-12-bottom padded-b-0">           
    <div class="col-12 sm-text-center padded-b-0"> 

      <div class="col-12 padded-0">
        <h1 class="title-medium-oversized font-weight-300"> {{ sessie.title }} </h1>
        <hr class="padded-t-0">
      </div>

      <h2 class="editable black-text font-weight-200"> {{ sessie.for_who_title }}</h2>
      <p class="editable"> {{ sessie.for_who_text }} </p>

      <h3 class="editable black-text font-weight-200"> {{ sessie.what_title }} </h3>
      <ul class="margin-0 padded-b-2">
        {% for item in sessie.what_items %}
          <li class="text-list">
            {{ item }}
          </li>
        {% endfor %}
      </ul>
      
      <a class="button-aanbod" href="/contact.html?service=adviseert&package={{ sessie.package }}#meeting">
        <span>Ga naar afspraak</span>
        <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
          <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
        </svg>
      </a>
      <div class="button-price"> {{ sessie.price }} </div>
    </div>
  </div>
</section>
{% endfor %}



<!-------------------------- Projects  ------------------------------->

<section class="grid padded-7 padded-t-2">

  <div id="projecten" class="grid padded-b-2">
    <h2 class="col-12 title-medium-oversized"> PROJECTEN Interieurachitectuur </h2>
    <div class="col-12 divider-left padded-b-0">
      <p> Benieuwd naar enkele realisaties, neem snel (of op jouw gemak) een kijkje: </p>
    </div>
  </div> 
  
  <div class="grid-equalHeight padded-b-2 project-greyed"></div> 
  
  {% assign projects = site.categories["Interieurarchitectuur"] | where: "layout", "project" %} 
  {% for post in projects %} 
    
    <div class="col-3_xs-12 padded-r-2 padded-b-5 project-container">
      <a class="index-project-thumb display-block button-project" 
         href="{{ post.url | relative_url }}" 
         aria-label="{{ post.title }}">

        <div class="bg-image portrait" style="background-image: url('{{ post.featured_image }}');"></div> 
        
        <p class="title-project padded-b-1"> {{ post.title }} </p>

        <span> Bekijk het project </span>   
        <svg class="project icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
          <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
        </svg>
      </a>
    </div> 

  {% endfor %} 
  
</section>

<section class="grid-center padded-5 padded-t-0 padded-b-5">
    <div class="col-12-center text-center">

        <hr class="short text-center"> 

        <h4 class="margin-b-05">Design made with soul</h4>

    </div>
</section>