---
layout: default
title: OSSM | Adviseert
seo:
  title: OSSM | Interieurarchitectuur en grafisch ontwerp
  description: Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. We worden dan ook graag zo vroeg mogelijk bij een project betrokken en nemen met plezier het totaalontwerp voor een renovatie of nieuwbouwproject op ons. We combineren tevens jarenlange ervaring in interieurarchitectuur met sterke grafische ontwerpen. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.
  social_image:
  twitter_card:
  keywords: 
  hide-from-google: false
services:
 - column-size: col-4_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-23.jpg
   name-service: Adviessessie
   description: Heb je meer nodig dan snelle tips? We duiken samen je ruimte in met voorbereiding, stalen, een verslag én een opvolgmoment. Zo krijg je echte houvast om doordacht verder te bouwen.
   follow-link: /adviseert-aanbod.html#adviessessie
   text-button: Leer meer
 - column-size: col-4_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-23.jpg
   name-service: Brainstormsessie
   description: Heb je meer nodig dan snelle tips? We duiken samen je ruimte in met voorbereiding, stalen, een verslag én een opvolgmoment. Zo krijg je echte houvast om doordacht verder te bouwen.
   follow-link: /adviseert-aanbod.html#brainstormsessie
   text-button: Leer meer
 - column-size: col-4_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-17.jpg
   name-service: Plananalyse
   description: Zit je even vast? Tijdens dit kort maar krachtig gesprek bij jou thuis krijg je mondeling advies waarmee je zelf weer vooruit kunt. Zonder voorbereiding, wél meteen heldere richting.
   follow-link: /adviseert-aanbod.html#plananalyse
   text-button: Leer meer
projects:
 - column-size: col-3_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-17.jpg
   name-project: project 1
   follow-link: /brainstormsessie.html
   text-arrow: Leer meer
 - column-size: col-3_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-23.jpg
   follow-link: /adviessessie.html
 - column-size: col-3_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-23.jpg
   name-project: project 3
   follow-link: /adviessessie.html
 - column-size: col-3_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-23.jpg
   name-project: project 4
   follow-link: /adviessessie.html
 - column-size: col-3_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-17.jpg
   name-project: project 1
   follow-link: /brainstormsessie.html
   text-arrow: Leer meer
 - column-size: col-3_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-23.jpg
   name-project: project 2
   follow-link: /adviessessie.html
   text-arrow: Leer meer
 - column-size: col-3_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-23.jpg
   name-project: project 3
   follow-link: /adviessessie.html
   text-arrow: Leer Meer
 - column-size: col-3_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-23.jpg
   name-project: project 4
   follow-link: /adviessessie.html
---

<!-------------------------- Header Banner  ------------------------------->

<section class="padded-md grid-bottom tall-60 padded-t-0 padded-b-3">
  <div class="padded-4 col-6 grid hide-md ">
    <div class="col-12 padded-4">
        <div class="tall-70 mdl-tall-50 bg-image bg-image-ossm-8"> </div>   
    </div>
  </div> 

  <div class="padded-4 col-6_xs-12"> 
    <h1 class="text-left title-oversized xs-title-oversized"> Adviseert. </h1>
    <hr class="padded-t-0">

    <div class="padded-t-0">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <p>
        Consequuntur quo ipsum dolores at neque explicabo necessitatibus aspernatur officia, eveniet delectus ipsa ad enim corrupti eaque nobis non? Consequuntur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quasi doloremque sequi maxime voluptatibus, rem quae quia dolores suscipit ipsa.
      </p>

        <nav>
            <a href="/adviseert.html#advies-interieurarchitectuur" class="button-dark"> Aanbod &#8595; </a>
            <a href="/adviseert.html#projecten-interieurarchitectuur" class="button-dark"> Projecten &#8595; </a>
        </nav>
        
    </div>
  </div>     
</section>

<!-------------------------- Services  ------------------------------->
<section class="padded-10 padded-t-5">
    <div class="grid padded-b-2">
        <h2 id="advies-interieurarchitectuur" class="title-medium-oversized"> ADVISEERT Interieurachitectuur </h2>
        <div class="col-12 divider-left padded-b-0">
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa consequatur alias nihil perspiciatis, dolor eveniet ex aliquid quos eligendi eos deleniti distinctio ipsum expedita possimus fugit!</p>
        </div>
    </div>  

    <div class="grid padded-b-2 bg-ligt padded-t-0">
        <div class="grid-equalHeight">
            {% for item in page.services %} 
                <!---- Service Cards ----->
                <div class="{{item.column-size}} padded-r-2"> 
                    <a href="{{item.follow-link}}" class="card bg-light-white">
                        <div class="bg-image landscape" style="background-image: url('{{item.background_image}}');"></div>
                        <div class="padded-2">
                            <h3 class="medium-text black-text font-weight-400"> {{item.name-service}} </h3>
                            <p> {{item.description}} </p>
                            <p class="button"> Meer info </p>
                            <!-- <a href="{{item.follow-link}}" class="button"> Meer info </a> -->
                        </div>
                    </a>
                </div>
                
            {% endfor %}
        </div> 
    </div>
</section>




<!-------------------------- Projects  ------------------------------->

<!-- Test blog post -->

 <section class="grid padded-10 padded-t-0">

  <div class="grid padded-b-2">
    <h2 id="projecten-interieurarchitectuur" class="title-medium-oversized"> PROJECTEN Interieurachitectuur </h2>
    <div class="col-12 divider-left padded-b-0">
      <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa consequatur alias nihil perspiciatis, dolor eveniet ex aliquid quos eligendi eos deleniti distinctio ipsum expedita possimus fugit!</p>
    </div>
  </div> 
  
  <div class="grid-equalHeight padded-b-2 project-greyed"></div> 
  
    {% assign projects = site.categories["Interieurarchitectuur"] | where: "layout", "project" %} 
    {% for post in projects %} 
    
    <div class="col-3_xs-12 padded-r-2 padded-b-5 project-container"> <div class="bg-image portrait" style="background-image: url('{{post.featured_image}}');"> </div> 
    <p class="title-project margin-b-0">{{post.title}}</p> 
    <a href="{{post.url}}"> Bekijk het project → </a> 
    
    </div> 
    {% endfor %} 
  </div>

</div>

  
</section>


