---
layout: default
title: OSSM | Interieurarchitectuur en grafisch ontwerp
seo:
  title: OSSM | Interieurarchitectuur en grafisch ontwerp
  description: Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. We worden dan ook graag zo vroeg mogelijk bij een project betrokken en nemen met plezier het totaalontwerp voor een renovatie of nieuwbouwproject op ons. We combineren tevens jarenlange ervaring in interieurarchitectuur met sterke grafische ontwerpen. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.
  social_image:
  twitter_card:
  keywords: 
  hide-from-google: false
services:
  - column-size: col-4_lg-8_md-12
    background_image: /images/bynouchka-160224-Lindsay-23.jpg
    name-service: Adviessessie
    description: Heb je meer nodig dan snelle tips? We duiken samen je ruimte in met voorbereiding, stalen, een verslag én een opvolgmoment. Zo krijg je echte houvast om doordacht verder te bouwen.
    follow-link: /adviessessie.html
    text-button: Leer meer
  - column-size: col-4_lg-8_md-12
    background_image: /images/bynouchka-160224-Lindsay-26.jpg
    name-service: Plananalyse
    description: We analyseren je (ver)bouwplannen vóór de eerste steen, en stemmen het ontwerp af op jouw levensstijl. Zo voorkom je frustraties achteraf en leg je de basis voor een interieur dat écht klopt.
    follow-link: /plananalyse.html
    text-button: Leer meer
  - column-size: col-4_lg-8_md-12
    background_image: /images/bynouchka-160224-Lindsay-17.jpg
    name-service: Geeft vorm
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nostrum error, modi in est praesentium at laudantium hic quo non rerum qui adipisci provident cum, ex reiciendis aut! Maxime, consequuntur?
    follow-link: /geeft-vorm.html
reviews:
  - author: Inrichten inkomhal
    description: Een kleine inkomhal waar bijna geen opbergruimte was, hebben we omgetoverd naar een leuke, lichte maar vooral praktische ruimte. De kast vormt ineens valbescherming voor de trap. 
       atque corrupti dolorum cumque.
    image: /images/ossm-reviews-sindy-sam.jpg
  - author: Hoge keukenwand
    description: Een niet zo alledaags keukenontwerp rekening houdend met het huidige interieur. Ook qua materiaal gingen we niet voor de standaard opties.
    image: /images/ossm-reviews-elve-bart.jpg
  - author: Badkamerrenovatie
    description: Met een meubel op maat creëerden we opbergruimte, sfeer en gezelligheid. De radiator werd ook weggewerkt en er is zelfs plaats voorzien voor wat decoratie. Perfect wat de klant wou.
    image: /images/ossm-reviews-gaelle-jeroen.jpg
  - author: Totaalinrichting
    description: Deze nieuwbouwwoning werd volledig ingericht op maat van de klant. Een ruime keuken met kookeiland, een gezellige tv hoek en bureauruimte. 
    image: /images/ossm-reviews-gunther-nancy.jpg
  - author: Inrichten gelijksvloers
    description: Een grote ruime living, die om wat gezelligheid en een juiste indeling vroeg. Een niet zo gemakkelijke doorloopzone zorgde dat ervoor dat deze klant er zelf niet uit geraakte.
  - author: Logo ontwerp
    description: Een logo waarbij in één klap duidelijk maakt waar het over gaat.. en dan liefst nog eentje dat wat speels en stoer genoeg is.
    image: images/ossm-reviews-advanced-classics.jpg
  - author: Logo ontwerp
    description: Eentje waar we een verwijzing maken naar de smeertechnieken, en naar de twee c's die in de naam terugkomen.
    image: /images/ossm-reviews-con-creet.jpg
  - author: Sophie
    description: Hulp bij de naam, het logo, visitekaartjes, cadeaubonnen, afsprakenkaartje, drukwerk maar ook raambestickering.
    image: /images/ossm-reviews-natuurkapster-wendy.jpg
gallery:
 - column-size: col-4_sm-12
   aspect-ratio: square
   background_image: /images/essentie-studio.jpg
 - column-size: col-4_sm-12
   aspect-ratio: square
   background_image: /images/essentie-studio-1.jpg
 - column-size: col-4_sm-12
   aspect-ratio: square
   background_image: /images/essentie-studio-3.jpg
 - column-size: col-4_sm-12
   aspect-ratio: square
   background_image: /images/essentie-studio.jpg
 - column-size: col-4_sm-12
   aspect-ratio: square
   background_image: /images/essentie-studio-1.jpg
 - column-size: col-4_sm-12
   aspect-ratio: square
   background_image: /images/essentie-studio-3.jpg
 - column-size: col-12
   aspect-ratio: landscape-small
   background_image: /images/essentie-studio-2.jpg
--- 

<!-------------------------- Info Brainstormsessie  ------------------------------->
<section class="padded-sm">  
    <div class="grid"> 
        <div class="padded-md padded-t-0 col-6-middle hide-sm">
            <div class="tall-60 mdl-tall-50 md-tall-40 bg-image bg-image-adviseert"> </div>
        </div>
        
        <div class="col-6_sm-12-middle padded-md padded-t-0 padded-l-5 mdl-padded-md md-padded-l-1 padded-r-5 mdl-padded-r-0 sm-text-center sm-padded-r-10 sm-padded-l-10 xs-padded-2 xs-margin-b-2"> 
            <h2 class="editable"> Voor <span class="border-b-dark-yellow">wie</span>?</h2>
            <p class="editable"> Wil je meer in handen hebben dan bij de advies sessie? Dan is dit iets voor jou.

              Je weet ook niet goed wat je moet aanvangen met bepaalde ruimtes, of hoe je ze best gaat indelen.
              Je hebt nood aan meer opbergruimte, of een betere circulatie in je woning.
              Je hebt nood aan een frisse kijk op de huidige situatie, nieuwe professionele input om je verder te helpen in de juiste richting.</p>
            <a href="#appointment" class="button editable"> Ga naar afspraak <i class="fa-solid fa-arrow-down"></i> </a>
        </div>
    </div> 

    <!-- <div id="brainstorm-what" class="grid" > 
        <div class="col-6_sm-12-middle padded-lg padded-l-5 mdl-padded-md md-padded-l-1 padded-r-5 mdl-padded-r-0 sm-text-center sm-padded-r-10 sm-padded-l-10 xs-padded-2 xs-margin-b-2"> 
            <h2 class="editable"> <span class="border-b-dark-yellow">Wat </span> houdt het in?</h2>
            <p class="editable"> VOORBEREIDING: niet nodig
                <br> SESSIE: We komen (max) 2u lang ter plaatse, jij stelt je vragen of toont waar je momenteel tegen aan loopt. *
                Terwijl wij ons advies mondeling geven, mag jij gerust notities maken. </p>
            <a href="#" class="button editable"> Prijs </a>
        </div>

        <div class="padded-md col-6-middle hide-sm">
            <div class="tall-60 mdl-tall-50 md-tall-40 bg-image bg-image-adviseert"> </div>
        </div>
    </div>  -->
</section>

<!--------------------- Price services ------------------------>
<section class="padded-sm">
    <div>
        <div class="grid-equalHeight padded-5">
    
            <div class="col-6_md-12">
                <div class="bg-white padded-2">
                    <h3 id="appointment"> Afspraak inplannen </h3>
                    <p> Heb je meer nodig dan snelle tips? We duiken samen je ruimte in met voorbereiding, stalen, een verslag én een opvolgmoment. Zo krijg je echte houvast om doordacht verder te bouwen. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ad sint veniam excepturi iusto magni, maxime inventore rerum nulla odit!</p>
                    <a href="https://calendly.com/ima-ginate-info/adviessessie" target="_blank" class="button"> Let's meet! </a>
                </div>
            </div>
            
            <div class="col-6_md-12 grid">
                <div class="col-12 grid">
                    <div class="col-12">
                        <div class="bg-white padded-2">
                            <h3> Prijs </h3>
                            <p>820€ incl. BTW</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-white padded-2">
                            <h3> Pakketinhoud </h3>
                            <ul class="margin-0">
                                <li class="text-list"> VOORBEREIDING: Bezorg ons plannen van de ruimte, foto’s en inspiratie/moodboards mocht je die hebben.
                                    <!-- <span class="pl-2 opacity-50">// 11 mins </span> -->
                                </li>
                        
                                <li class="text-list"> SESSIE: We komen (max) 3u lang ter plaatse, je kan ons alles vragen of we vullen de tijd met ons advies en het bekijken van stalen.
                                    <!-- <span class="pl-2 opacity-50">// 20 mins </span> -->
                                </li>

                                <li class="text-list"> NADIEN: We maken een naverslag met de besproken zaken, zo heb je iets om op terug te vallen.
                                    <!-- <span class="pl-2 opacity-50">// 20 mins </span> -->
                                </li>

                                <li class="text-list"> EXTRA: Online vragenronde (duurtijd 1u) na de sessie voor extra vragen/bedenkingen.
                                    <!-- <span class="pl-2 opacity-50">// 20 mins </span> -->
                                </li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>


<!------------------------- Gallery  -------------------------------->
<section class="padded-md">
    <div class="gallery grid">
        {% for item in page.gallery %}
  
        <div class="{{item.column-size}}">
          <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');">
          </div>
        </div>
  
        {% endfor %}
    </div>
</section>

<!-------------------------------- Reviews  ------------------------------>
{% include reviews.html %}


<!--------------------- Other services ------------------------>

<section class="grid padded-5 bg-ligt padded-t-0">     
    <h4 class="text-center"> Bekijk ook onze andere diensten.. </h4>

    <div class="grid-center-equalHeight bg-border-yellow padded-2">
        
        {% for item in page.services %} 
            <!---- Service Cards ----->
            <div class="{{item.column-size}}"> 
                <a href="{{item.follow-link}}" class="card bg-white">
                    <div class="padded-2">
                        <h3> {{item.name-service}} </h3>
                        <p> {{item.description}} </p>
                        <p class="button"> Meer info </p>
                        <!-- <a href="{{item.follow-link}}" class="button"> Meer info </a> -->
                    </div>
                </a>
            </div>
            
        {% endfor %}

    </div> 

</section>