---
layout: default
title: OSSM | Interieurarchitectuur en grafisch ontwerp
seo:
  title: OSSM | Interieurarchitectuur en grafisch ontwerp
  description: Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. We worden dan ook graag zo vroeg mogelijk bij een project betrokken en nemen met plezier het totaalontwerp voor een renovatie of nieuwbouwproject op ons. We combineren tevens jarenlange ervaring in interieurarchitectuur met sterke grafische ontwerpen. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.
  social_image:
  twitter_card:
  keywords: 
  hide-from-google: false
faq:
 - id-question: tab-question-1
   question: Zijn uw ontwerpen in een bepaalde stijl?
   answer: Mijn ‘stijl’ is om zo veel mogelijk uit te lijnen om rust te creëren, materialen te gebruiken die passen bij jou als persoon, als gezin, als bedrijf. Het ontwerpen van een warm modern interieur, met af en toe indien gepast een speels kantje!
 - id-question: tab-question-2
   question: Doet u enkel renovaties of ook nieuwbouw?
   answer: Zowel voor nieuwbouw als renovatie kan je bij mij terecht. Indien het gaat om een nieuwbouw is het zelfs aangeraden om zo vroeg mogelijk een samenwerking aan te gaan. Zo kunnen we anticiperen en zorgen dat verlichting, stroompunten, sanitair en dergelijke meteen juist worden opgenomen in de uitvoering van uw project.
 - id-question: tab-question-3
   question: Welke regio bent u actief?
   answer: Ontwerpstudio SoulMade is gevestigd in Burcht, op de grens met Antwerpen en Oost-Vlaanderen. Het Waasland is dus lekker dichtbij, maar andere regio’s zijn zeker geen probleem. 
 - id-question: tab-question-4 
   question: Heeft u vaste aannemers waar u mee werkt?
   answer: Ik werk graag met mijn vaste partners, dit bevordert de vlotheid waarmee de werken vorderen aangezien wij goed op elkaar zijn ingespeeld. Het is echter nooit een verplichting om met deze mensen samen te werken. Misschien heeft u zelf wel een goede ervaring met iemand die u aan ons kan voorstellen?
 - id-question: tab-question-5
   question: Weten we op voorhand wat uw diensten ons gaan kosten?
   answer: Jazeker, maar omdat elk project uniek is maken wij altijd eerst vrijblijvend kennis, om daarna een offerte op maat van jouw wensen te maken.
 - id-question: tab-question-6
   question: Is het mogelijk om enkel een ontwerp te krijgen, zodat we zelf de werken kunnen uitvoeren?
   answer: Dat kan zeker. We spreken op voorhand af wat jullie intentie is, en wat jullie verlangen van mij. Aan de hand van plannen en een 3D model kan je jullie werken (laten) uitvoeren.
 - id-question: tab-question-7
   question: Wat zijn jullie openingsuren?
   answer: Wij werken enkel op afspraak. Maak hier een afspraak.
 - id-question: tab-question-8
   question: Volgen jullie de werken ook op?
   answer: Alles gebeurt volledig in-house. Van ontwerp tot en met de oplevering. Bij vragen kan je steeds bij mij terecht voor de nodige hulp.
 - id-question: tab-question-9
   question: Hoe verloopt het ontwerpproces van begin tot eind?
   answer: <img src="/images/samenwerking interieur.jpg" alt="Ontwerpproces" style="width: 60vh;">
 - id-question: tab-question-10
   question: Wie heeft de rechten van het grafisch ontwerp?
   answer: Nadat de betaling correct is ontvangen, wordt de opdrachtgever eigenaar van het grafische ontwerp. Dit betekent dat de opdrachtgever onbeperkt gebruiksrecht heeft. De auteursrechten blijven echter eigendom van OSSM. Dit betekent dat de opdrachtgever het grafische ontwerp niet zonder toestemming kan verkopen of aanpassen. 
 - id-question: tab-question-11
   question: Welke bestanden krijg ik van mijn grafisch ontwerp?
   answer: Je krijgt van ons altijd een drukklare PDF in High Resolution. Uiteraard is dit niet bij elk soort grafisch design mogelijk. Wanneer we een huisstijl voor je hebben ontworpen, ontvang je dit in zowel .jpg/png en als .eps-bestand. We bezorgen jou ook een bestandengids, zo weet je perfect welk bestandstype je best wanneer gebruikt. 
 - id-question: tab-question-12
   question: Kunnen jullie ook drukwerk verzorgen?
   answer: We kunnen alles uit jouw handen nemen. Van drukwerk tot gevelreclame. Wij voorzien al het nodige.   
---
<!-------------------------- Header Banner  ------------------------------->
<section class="padded-md grid-bottom tall-60 padded-t-0">
  <div class="padded-4 col-6 grid hide-md">
    <div class="col-12 padded-4 padded-r-7">
        <div class="tall-70 md-tall-50 bg-image bg-faq"> </div>   
        <!-- <p class="text-left col-6 padded-t-1 padded-l-0"> Hallo daar, heb jij een vraag? </p>    -->
    </div>
  </div> 

  <div class="padded-4 col-6_xs-12"> 
    <h1 class="text-left title-oversized xs-title-oversized"> FAQ. </h1>
    <hr class="padded-t-0">

    <div class="padded-t-0">
      <p>
       Of je nu voor een interieuradvies, een totaalontwerp of een (re)branding bij ons komt: we begrijpen dat er onderweg heel wat vragen kunnen opduiken. Geen zorgen, we gidsen je met plezier door het hele proces. 
      </p>

      <p>
        Hieronder vind je antwoorden op de meestgestelde vragen over onze manier van werken, onze diensten en wat je van ons mag verwachten. Vind je niet meteen wat je zoekt? Laat het ons gerust weten. We denken graag met je mee, vanaf de eerste vraag tot de laatste afwerking
      </p>

        <nav>
            <a href="/faq.html#faq" class="button-dark"> FAQ &#8595; </a>
            <a href="/over-ons.html" class="button-filled-dark"> 
              <span>Over ons</span>  
              <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
              </svg> 
            </a>
        </nav>
        
    </div>
  </div>     
</section>

<!-- Accordion -->
<section id="faq" class="padded-md padded-t-0">
  <div class="padded-md padded-t-0">
    <div class="accordion">
    
        {% for item in page.faq %}

        <div class="tab">
            <input id="{{item.id-question}}" name="tabs" type="checkbox">
            <label for="{{item.id-question}}">
                {{item.question}} 
            </label>
            <div class="tab-content">
                <p>{{item.answer}}</p>
            </div>
        </div>

        {% endfor %}   
    
    </div> 
  </div>           
</section>

<section padded-10 grid-bottom tall-80 mdl-tall-60 md-tall-40 sm-tall-30 padded-t-0 sm-padded-t-5 hide-md>
   <div class="col-12_md-12_sm-9_xs-12 padded-r-0 md-padded-2 sm-padded-4">
        {% include reviews.html %}
    </div>
</section>