---
layout: default
title: OSSM | Interieurarchitectuur en grafisch ontwerp
seo:
  title: OSSM | Interieurarchitectuur en grafisch ontwerp
  description: Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. We worden dan ook graag zo vroeg mogelijk bij een project betrokken en nemen met plezier het totaalontwerp voor een renovatie of nieuwbouwproject op ons. We combineren tevens jarenlange ervaring in interieurarchitectuur met sterke grafische ontwerpen. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.
  social_image:
  twitter_card:
  keywords: 
  hide-from-google: false
services:
 - column-size: col-5_md-6_sm-12
   background_image: /images/imaginate-ossm-adviseert-1.jpeg
   name-service: Soulmade adviseert
   description: Klein advies, grote helderheid. Zit je vast in je keuzes? Wil je snel sparren met iemand die meedenkt? Boek een laagdrempelige sessie bij jou thuis. Je hoeft geen groot project te hebben om met ons te mogen samenwerken.
   follow-link: /adviseert-aanbod.html
   text-button: Leer meer
 - column-size: col-5_md-6_sm-12
   background_image: /images/imaginate-ossm-ontwerpt.jpeg
   name-service: Soulmade ontwerpt
   description: Van droom tot uitvoering, zowel in interieurarchitectuur als grafisch ontwerp. We creëren, visualiseren en begeleiden je tot alles perfect samenvalt. Of je nu een thuis vormgeeft of een merk uitbouwt, wij vertalen jouw verhaal naar een beleving die klopt.
   follow-link: /ontwerpt-aanbod.html
   text-button: Leer meer
---   
    
<!-------------------------- Header Banner  ------------------------------->

<section class="grid tall-100 bg-image-header padded-5 padded-t-0 black-text xs-padded-1 xs-tall-50">
    <div class="col-5-right_md-5_sm-10 small-text padded-t-15 padded-b-0 sm-padded-b-0 sm-padded-t-12 sm-padded-l-0 sm-small-text xs-padded-t-10">
        <span> ontwerpbureau voor </span>
    </div> 
    
    <div class="col-12">
        <h2 class="title-medium-oversized mdl-title-medium-oversized xxs-title-medium-oversizeduppercase text-center padded-b-5"> Interieurarchitectuur & grafisch ontwerp </h2>
    </div>
    
    <div class="col-12-middle text-center hide-md hide-sm">
        <h1 class="font-weight-400"> Voor wie klaar is om <br> te bouwen aan een interieur of merk dat klopt </h1>
        <img class="padded-t-10 lg-padded-t-11" src="/images/ossm-logo-mark.png" alt="" width="20%" height="auto">
    </div>

     <div class="col-12-middle text-center show-md hide-sm">
        <h1 class="font-weight-400"> Voor wie klaar is om <br> te bouwen aan een interieur of merk dat klopt </h1>
        <img class="padded-t-10 lg-padded-t-11" src="/images/ossm-logo-mark.png" alt="" width="30%" height="auto">
    </div>

    <div class="col-12-middle text-center show-sm">
        <h1 class="font-weight-400"> Voor wie klaar is om <br> te bouwen aan een interieur of merk dat klopt </h1>
        <img class="padded-t-10" src="/images/ossm-logo-mark.png" alt="" width="50%" height="auto">
    </div>

</section>

<!-------------------------- Services  ------------------------------->

<section class="padded-lg grid tall-60 padded-r-0 md-padded-5 xs-padded-l-0">

     <div class="padded-4 col-2_md-12 grid">
        <div class="col-4-top padded-4 md-padded-l-1-05 sm-padded-l-4-05">
            <h1 class="text-left title-medium-oversized"> Onze diensten. </h1>
            <hr class="padded-t-0">   
        </div>
    </div> 

    <div class="col-10_md-12_sm-9_xs-12"> 
    <div class="grid padded-5 bg-ligt padded-r-0 md-padded-2 sm-padded-4">
        <div class="grid-center-equalHeight">
            
            {% for item in page.services %} 
                <!---- Service Cards ----->
                <div class="{{item.column-size}} md-padded-b-2"> 
                    <a href="{{item.follow-link}}" class="card bg-white bg-border-grey">
                        <div class="bg-image landscape border-b-grey" style="background-image: url('{{item.background_image}}');"> </div>
                        <div class="padded-2">
                            <h3 class="medium-text black-text font-weight-400"> {{item.name-service}} </h3>
                            <p> {{item.description}} </p>
                            <p class="button"> Meer info → </p>
                            <!-- <a href="{{item.follow-link}}" class="button"> Meer info </a> -->
                        </div>
                    </a>
                </div>
                
            {% endfor %}
        </div> 
    </div>
    
  </div>     
</section>


<!-------------------------- Reviews  ------------------------------->
<section class="padded-lg grid tall-60 padded-r-0 padded-t-0 md-padded-5 xs-padded-l-0">
    <div class="padded-4 col-9 grid">
        <div class="col-6-top padded-4 md-padded-l-1-05">
            <h1 class="text-left xs-text-center title-medium-oversized"> Wat onze <br> klanten zeggen.</h1>
            <hr class="padded-t-0">   
        </div>
    </div> 

 <!-- Carousel -->
    <!-- <div class="project-slider project-greyed">
        {% assign projects = site.categories["Interieurarchitectuur"] | where: "layout","project" %}
        {% for post in projects limit:12 %}
        <div class="slider-item">
            <a class="project-box" href="{{ post.url }}">
            <div class="bg-image portrait" style="background-image:url('{{ post.featured_image }}');"></div>
            <p class="margin-b-0">{{ post.title }} </p>
            </a>
        </div>
        {% endfor %}
    </div>-->
</section> 