---
layout: default
title: OSSM | Interieurarchitectuur en grafisch ontwerp
seo:
  title: OSSM | Interieurarchitectuur en grafisch ontwerp
  description: Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. We worden dan ook graag zo vroeg mogelijk bij een project betrokken en nemen met plezier het totaalontwerp voor een renovatie of nieuwbouwproject op ons. We combineren tevens jarenlange ervaring in interieurarchitectuur met sterke grafische ontwerpen. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.
  social_image:
  twitter_card:
  keywords: 
  hide-from-google: false
services:
 - column-size: col-5_md-6_sm-12
   background_image: /images/imaginate-ossm-adviseert-1.jpeg
   name-service: Soulmade adviseert
   description: Klein advies, grote helderheid. Zit je vast in je keuzes? Wil je snel sparren met iemand die meedenkt? Boek een laagdrempelige sessie bij jou thuis. Je hoeft geen groot project te hebben om met ons te mogen samenwerken.
   follow-link: /aanbod.html#adviseert
   text-button: Leer meer
 - column-size: col-5_md-6_sm-12
   background_image: /images/imaginate-ossm-ontwerpt.jpeg
   name-service: Soulmade ontwerpt
   description: Van droom tot uitvoering, zowel in interieurarchitectuur als grafisch ontwerp. We creëren, visualiseren en begeleiden je tot alles perfect samenvalt. Of je nu een thuis vormgeeft of een merk uitbouwt, wij vertalen jouw verhaal naar een beleving die klopt.
   follow-link: /aanbod.html#ontwerpt
   text-button: Leer meer
about:
-  column-size: col-5_md-6_sm-12
   description: Ik ben Lindsay Nevejans, het creatief brein achter ontwerpstudio SoulMade. In 2010 studeerde ik af als Master in de Interieurarchitectuur. Maar mijn liefde voor interieur startte al op zeer jonge leeftijd. Mijn kamer en onze leefruimte hebben destijds vele transformaties moeten doorstaan. (Sorry mama en papa!) Nu help ik anderen om hun droom waar te maken. OSSM is een creatieve ontwerpstudio die staat voor maatwerk. Zowel op het gebied van interieurarchitectuur als grafisch ontwerp. Je kan voor beide oplossingen, ook los van elkaar bij ons terecht. Er zijn verschillende opties waarbij we jou graag verder helpen, vertrekkende vanuit jouw noden en wie jij bent als persoon. 
   text-button: Leer meer
-  column-size: col-5_md-6_sm-12
   description: SoulMade staat voor een persoonlijke aanpak. Eentje waar vertrouwen centraal staat. Ik luister écht uitgebreid naar jouw wensen. Liefst van al ‘in person’ bij jouw thuis! (geen zoom meeting van 30 minuutjes dus). Een persoonlijk gesprek, geheel ongedwongen waarbij we al heel veel punten bespreken. We willen namelijk een ontwerp dat op maat voor jou wordt uitgewerkt, aansluitend bij jouw manier van leven. Zo eentje die je leven verrijkt, waar je gelukkiger van wordt! Ik pols onder andere naar jouw wensen, eventuele eisen, maar stel ook heel wat persoonlijke, diepgaande vragen. Zo merken we al snel of we elkaar goed aanvoelen! En niet beter dan dit te verkennen bij een thee'ke of ne koffie! 
   text-button: Leer meer
---   
    
<!-------------------------- Header Banner  ------------------------------->

<section class="grid tall-100 bg-image-header padded-5 padded-t-0 black-text xs-padded-1 xs-tall-50">
    <div class="col-5-right_md-5_sm-10 small-text padded-t-15 padded-b-0 sm-padded-b-0 sm-padded-t-12 sm-padded-l-0 sm-small-text xs-padded-t-10">
        <span> ontwerpbureau voor </span>
    </div> 
    
    <div class="col-12">
        <h2 class="title-medium-oversized mdl-title-medium-oversized xxs-title-medium-oversizeduppercase text-center padded-b-5"> Interieurarchitectuur & grafisch ontwerp </h2>
    </div>
    
    <div class="col-12-middle text-center hide-md hide-sm">
        <h1 class="font-weight-400"> Voor wie klaar is om <br> te bouwen aan een interieur of merk dat klopt </h1>
        <img class="padded-t-10 lg-padded-t-11" src="/images/ossm-logo-mark.png" alt="" width="20%" height="auto">
    </div>

     <div class="col-12-middle text-center show-md hide-sm">
        <h1 class="font-weight-400"> Voor wie klaar is om <br> te bouwen aan een interieur of merk dat klopt </h1>
        <img class="padded-t-10 lg-padded-t-11" src="/images/ossm-logo-mark.png" alt="" width="30%" height="auto">
    </div>

    <div class="col-12-middle text-center show-sm">
        <h1 class="font-weight-400"> Voor wie klaar is om <br> te bouwen aan een interieur of merk dat klopt </h1>
        <img class="padded-t-10" src="/images/ossm-logo-mark.png" alt="" width="50%" height="auto">
    </div>

</section>


<!-------------------------- Services  ------------------------------->

<section class="padded-lg grid tall-60 padded-r-0 md-padded-5 xs-padded-l-0">

     <div class="padded-4 col-3_md-12 grid">
        <div class="col-12-top padded-4 padded-r-0 md-padded-l-1-05 sm-padded-l-4-05">
            <h1 class="text-left title-medium-oversized"> Diensten. </h1>
            <hr class="padded-t-0">  
            <p><strong>Als particulier nood aan hulp bij het inrichten</strong> van je woning, of totale ondersteuning bij het bouwen of renoveren?</p> 
            <p><strong>Of heb je als (toekomstige) zaakvoerder </strong> nood aan een logo dat jou op het lijf geschreven is? Of is je bedrijf gegroeid en heb je nood aan een volledige rebranding? </p>
        </div>
    </div> 

    <div class="col-9_md-12_sm-9_xs-12"> 
    <div class="grid padded-4 bg-ligt padded-r-0 md-padded-2 sm-padded-4">
        <div class="grid-center-equalHeight">
            
            {% for item in page.services %} 
                <!---- Service Cards ----->
                <div class="{{item.column-size}} md-padded-b-2"> 
                    <a href="{{item.follow-link}}" class="card bg-white bg-border-grey">
                        <div class="bg-image landscape border-b-grey" style="background-image: url('{{item.background_image}}');"> </div>
                        <div class="padded-2">
                            <h3 class="uppercase medium-text black-text font-weight-200"> {{item.name-service}} </h3>
                            <p> {{item.description}} </p>
                            <p class="button"> <span> Meer info </span> 
                                <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                                    <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
                                </svg>
                            </p>
                            <!-- <a href="{{item.follow-link}}" class="button"> Meer info </a> -->
                        </div>
                    </a>
                </div>
                
            {% endfor %}
        </div> 
    </div>
    
  </div>     
</section>

<!-------------------------- About us ------------------------------->

<section class="padded-lg grid tall-60 padded-t-0 md-padded-5 xs-padded-l-0">

     <div class="padded-4 col-7_md-12 grid">
        <div class="col-7-top padded-4 md-padded-l-1-05 sm-padded-l-4-05">
            <h1 class="text-left title-medium-oversized"> Wie ben ik? </h1>
            <hr class="padded-t-0">   
        </div>
    </div> 

    <div>
        <div class="col-10_md-12_sm-9_xs-12 padded-4 bg-light md-padded-2 sm-padded-4">
            <div class="col-6_md-12_sm-12_xs-12 padded-r-4 md-padded-r-0 sm-padded-b-2 xs-padded-b-2">
                <p> Ik ben Lindsay Nevejans, het creatief brein achter ontwerpstudio SoulMade. In 2010 studeerde ik af als Master in de Interieurarchitectuur. Maar mijn liefde voor interieur startte al op zeer jonge leeftijd. Mijn kamer en onze leefruimte hebben destijds vele transformaties moeten doorstaan. (Sorry mama en papa!) Nu help ik anderen om hun droom waar te maken. OSSM is een creatieve ontwerpstudio die staat voor maatwerk. Zowel op het gebied van interieurarchitectuur als grafisch ontwerp. Je kan voor beide oplossingen, ook los van elkaar bij ons terecht. Er zijn verschillende opties waarbij we jou graag verder helpen, vertrekkende vanuit jouw noden en wie jij bent als persoon. </p>
            </div>

            <div class="col-6_md-12_sm-12_xs-12">
                <div class="tall-60 md-tall-40 bg-image bg-mission-2"> </div>   
            </div>
        </div>
    </div>

</section>

<!-------------------------- Reviews  ------------------------------->
<section class="padded-lg grid tall-60 padded-t-0 md-padded-5 xs-padded-l-0">
    <div class="padded-4 col-9 grid">
        <div class="col-7-top padded-4 md-padded-l-1-05">
            <h1 class="text-left xs-text-center title-medium-oversized"> Wat onze <br> klanten zeggen.</h1>
            <hr class="padded-t-0">   
        </div>
    </div> 

    <div class="reviews-wrapper">

        <!-- Rechtergedeelte -->
        <div class="reviews-main">
            <div class="reviews-top">

                <!-- Hoofdafbeelding -->
                <div class="main-image-wrapper">
                    <img id="main-image" src="" alt="Hoofdreview"/>
                </div>

                <!-- Tekstblok -->
                <div class="review-text-block">

                    <h2 class="uppercase medium-text black-text font-weight-200" id="review-name">Titel</h2>

                    <p class="review-copy" id="review-copy">
                    Review tekst komt hier...
                    </p>

                    <a href="#" class="button" id="review-cta">
                    <span> Bekijk het project </span>
                        <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                            <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Thumbnails: laatste 6 posts -->
            <div class="thumbs-row" id="thumbs-row">
                {% for post in site.posts limit:6 %}
                <button type="button" class="thumb-btn{% if forloop.first %} active{% endif %}" data-id="{{ forloop.index }}" data-name="{{ post.title | escape }}" data-copy="{{ post.review_text | default: post.excerpt | strip_html | escape }}" data-image="{{ post.featured_image | escape }}" data-url="{{ post.url | relative_url }}">
                    <img src="{{ post.featured_image }}" alt="{{ post.title }}">
                </button>
                {% endfor %}
            </div>
        </div>

    </div>
 
</section> 