---
layout: default
title: OSSM | Interieurarchitectuur en grafisch ontwerp
seo:
  title: OSSM | Interieurarchitectuur en grafisch ontwerp
  description: Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. We worden dan ook graag zo vroeg mogelijk bij een project betrokken en nemen met plezier het totaalontwerp voor een renovatie of nieuwbouwproject op ons. We combineren tevens jarenlange ervaring in interieurarchitectuur met sterke grafische ontwerpen. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.
  social_image:
  twitter_card:
  keywords: 
  hide-from-google: false
services:
 - column-size: col-4_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-17.jpg
   name-service: Adviseert
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa consequatur alias nihil perspiciatis, dolor eveniet ex aliquid quos eligendi eos deleniti distinctio ipsum expedita possimus fugit!
   follow-link: /portfolio.html#interieurarchitectuur
   text-button: Leer meer
 - column-size: col-4_lg-8_md-12
   background_image: /images/bynouchka-160224-Lindsay-23.jpg
   name-service: Ontwerpt
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa consequatur alias nihil perspiciatis, dolor eveniet ex aliquid quos eligendi eos deleniti distinctio ipsum expedita possimus fugit!
   follow-link: /portfolio.html#grafisch-ontwerp
   text-button: Leer meer
---   
    
<!-------------------------- Header Banner  ------------------------------->

<section class="padded-md grid-center-middle tall-60 bg-light-grey">
    
    <div class="col-12"> 
        <h1 class="text-center title-oversized"> Portfolio.</h1>
         <nav class="col-12 text-center">
            <a href="/portfolio.html#interieurarchitectuur" class="button-dark"> Interieurarchitectuur &#8595; </a>
            <a href="/portfolio.html#grafisch-ontwerp" class="button-dark"> Grafisch ontwerp &#8595; </a>
        </nav>
    </div>
   
</section>


<!-- <section class="padded-md grid-bottom tall-60 padded-t-0">
  <div class="padded-4 col-6 grid hide-md ">
    <div class="col-12 padded-4 padded-r-7">
        <div class="tall-70 md-tall-50 bg-image bg-portfolio"> </div>   
    </div>
  </div> 

  <div class="padded-4 col-6_xs-12"> 
    <h1 class="text-left title-oversized xs-title-oversized"> Portfolio. </h1>
    <hr class="padded-t-0">

    <div class="padded-t-0">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <p>
        Consequuntur quo ipsum dolores at neque explicabo necessitatibus aspernatur officia, eveniet delectus ipsa ad enim corrupti eaque nobis non? Consequuntur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quasi doloremque sequi maxime voluptatibus, rem quae quia dolores suscipit ipsa.
      </p>

        <nav>
            <a href="/portfolio.html#interieurarchitectuur" class="button-dark"> Interieurarchitectuur &#8595; </a>
            <a href="/portfolio.html#grafisch-ontwerp" class="button-dark"> Grafisch ontwerp &#8595; </a>
        </nav>
        
    </div>
  </div>     
</section> -->


<!-- <section class="padded-md padded-t-0 grid">
  <div class="col-12 tall-60 bg-image bg-portfolio"> </div> 
  <h1 class="text-left col-12 padded-1 padded-l-0"> Portfolio. </h1>
  <h3 class="col-4"> Lust jij ook wel een tasje thee of koffie <br> (mét een koekske)? </h3>
</section> -->


<!-------------------------- Services  ------------------------------->
<!-- <section class="padded-5">
    <div class="grid-center padded-sm">
        <div class="col-8 divider-left padded-b-0">
            <span class="uppercase title"> Onze diensten </span>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa consequatur alias nihil perspiciatis, dolor eveniet ex aliquid quos eligendi eos deleniti distinctio ipsum expedita possimus fugit!</p>
        </div>
    </div>  

    <div class="grid padded-sm bg-ligt padded-t-0">
        <div class="grid-center-equalHeight">
            
            {% for item in page.services %} 
                <div class="{{item.column-size}}"> 
                    <a href="{{item.follow-link}}" class="card bg-white">
                        <div class="bg-image landscape" style="background-image: url('{{item.background_image}}');"></div>
                        <div class="padded-2">
                            <h3> {{item.name-service}} </h3>
                            <p> {{item.description}} </p>
                            <p class="button"> Meer info </p>
                        </div>
                    </a>
                </div>
                
            {% endfor %}
        </div> 
    </div>
</section> -->


<!-- Interieurarchitectuur -->
<section class="padded-10 mdl-padded-5 sm-padded-1 sm-padded-t-5">
    <!-- Kop + link rechtsboven -->
    <div class="grid-spaceBetween">
        <div class="padded-l col-9">
            <div class="grid padded-b-2">
                <h2 id="interieurarchitectuur" class="title-medium-oversized"> Interieurarchitectuur. </h2>
                <div class="col-12 divider-left padded-b-0">
                    <p> Bekijk enkele gerealiseerde projecten. </p>
                </div>
            </div>  
        </div> 
    </div>

    <!-- CTA boven carousel -->
    <div class="padded-r-4 padded-b-0 text-right hide-sm">
        <a class="button-project" href="/adviseert-aanbod.html#projecten">
            <span> Bekijk alle onze projecten  </span>
            <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                    <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
            </svg>
        </a>
    </div>

    <!-- Carousel -->
    <div class="project-slider project-greyed">
        {% assign projects = site.categories["Interieurarchitectuur"] | where: "layout","project" %}
        {% for post in projects limit:12 %}
        <div class="slider-item">
            <a class="project-box" href="{{ post.url }}">
            <div class="bg-image portrait" style="background-image:url('{{ post.featured_image }}');"></div>
            <p class="margin-b-0 hide-sm">{{ post.title }} </p>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- CTA onder carousel -->
    <div class="padded-md padded-t-0 sm-padded-t-2">
        <a class="button bg-border-yellow" href="/adviseert-aanbod.html"> 
            <span> Naar het aanbod </span>
            <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                    <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
            </svg>
        </a>
    </div>

</section>

<!-- Grafisch Ontwerp -->
<section class="padded-10 mdl-padded-5 padded-t-0 sm-padded-1 sm-padded-t-5">
    <!-- Kop + link rechtsboven -->
    <div class="grid-spaceBetween">
        <div class="padded-l col-9">
            <div class="grid padded-b-2">
                <h2 id="grafisch-ontwerp" class="title-medium-oversized"> Grafisch Ontwerp. </h2>
                <div class="col-12 divider-left padded-b-0">
                    <!-- <span id="grafisch-ontwerp" class="uppercase title"> PROJECTEN grafisch ontwerp </span> -->
                    <p> Bekijk enkele gerealiseerde ontwerpen.</p>
                </div>
            </div>  
        </div>
    
        
    </div>

    <!-- CTA boven carousel -->
    <div class="padded-r-4 padded-b-0 text-right hide-sm">
        <a class="button-project" href="/ontwerpt-aanbod.html#projecten">
            <span> Bekijk alle onze projecten  </span>
            <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                    <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
            </svg>
        </a>
    </div>

    <!-- Carousel -->
    <div class="project-slider project-greyed">
        {% assign projects = site.categories["Grafisch ontwerp"] | where: "layout","branding" %}
        {% for post in projects limit:12 %}
        <div class="slider-item">
            <a class="project-box" href="{{ post.url }}">
            <div class="bg-image portrait" style="background-image:url('{{ post.featured_image }}');"></div>
            <p class="margin-b-0 hide-sm">{{ post.title }} </p>
            </a>
        </div>
        {% endfor %}
    </div>
    

    <!-- CTA onder carousel -->
    <div class="padded-md padded-t-0 sm-padded-t-2">
        <a class="button bg-border-yellow" href="/ontwerpt-aanbod.html">
            <span> Naar het aanbod </span>
            <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                    <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
            </svg>
        </a>
    </div>

</section>
