<!---------------------------- Appointment Section ------------------------->
<section>  
    <div class="grid bg-dark" > 
        <div class="padded-md col-6-middle hide-sm">
            <div class="tall-60 mdl-tall-50 md-tall-40 bg-image bg-image-nancy"> </div>
        </div>
        
        <div class="col-5_sm-12-middle padded-lg padded-l-5 mdl-padded-md md-padded-l-1 padded-r-5 mdl-padded-r-0 sm-text-center sm-padded-r-10 sm-padded-l-10 xs-padded-2 xs-margin-b-2"> 
            <h2 class="editable"> Afspraak maken </h2>
            <h2 class="editable"> bij <span class="border-b-dark-pink">S&ampSI</span> Bazel</h2>  
            <p class="editable"> Gelieve telefonisch contact op te nemen indien U een afspraak wenst te maken. Ik kijk ernaar uit om U weldra te verwelkomen in mijn vernieuwd salon, tot binnenkort! </p>
            <a href="tel:0477558939" class="button editable"> Contacteer ons </a>
        </div>
    </div> 
</section>