<!-------------------------------- Reviews  ------------------------------>

<section class="text-center padded-5 {{page.review-background}} bg-yellow hide-md">
    <h2> Reviews </h2>
    <div class="slider-container padded-1 dark-text"> 

        {% for item in page.reviews %}
        
        <!---- First Card ----->
        <div class="slider-item text-center">
            <div class="card-review"> 
                <img src="{{item.image}}" class="profile">
                <p class="author"> {{item.author}} </p>
                <p> {{item.description}} </p>
                <span> ★ ★ ★ ★ ★</span>
            </div>
        </div>

        {% endfor %}
    </div>
</section>