<section class="grid-spaceBetween col-12 padded-r text-center">
    <div class="col-12-top grid">
        <div class="col-2 sm-text-left hide-mdl hide-sm"> 
            <a href="/index.html"> 
                <img src="/images/essentie-logo-roze.png" style="height: 70px" class="inline-block"> 
            </a>
        </div>
    
        <div class="col-2 sm-text-left show-mdl"> 
            <a href="/index.html"> 
                <img src="/images/essentie-logo-roze.png" style="height: 50px" class="inline-block"> 
            </a>
        </div>
    
        <nav class="col-10-middle text-right padded-r-2 hide-md"> 
            <a href="/index.html"> Home </a>
            <a href="/gelaat.html"> Gelaat </a>
            <a href="/pedicure.html"> Pedicure </a>
            <a href="/lichaam.html"> Lichaam </a>
            <a href="/ontharing.html"> Ontharing </a>
            <a href="/manicure.html"> Manicure </a>
            <a href="/arrangementen.html"> Arrangementen </a>
            <a href="/contact.html"> Contact </a>
        </nav>

    
        <nav class="col-3-middle show-md">
            <div class="hamburger-button"> 
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </div>
    
            <div class="mobile-menu"> 
                <a href="/index.html"> Home </a>
                <a href="/gelaat.html"> Gelaat </a>
                <a href="/pedicure.html"> Pedicure </a>
                <a href="/lichaam.html"> Lichaam </a>
                <a href="/ontharing.html"> Ontharing </a>
                <a href="/manicure.html"> Manicure </a>
                <a href="/arrangementen.html"> Arrangementen </a>
                <a href="/contact.html"> Contact </a>
            </div>
        </nav>
    </div>  
</section>