<!---------------------------- Intro Footer ------------------------ -->
<section>
    <div class="bg-image bg-image-footer col-12 tall-60 hide-xs"> 
       
    </div>
</section>

<section>
    <div class="bg-image bg-image-footer col-12 tall-40 show-xs"> 
       
    </div>
</section>

<!---------------------------- Footer ------------------------->

<footer class="padded-sm grid-spaceBetween bg-light-footer hide-mdl hide-sm">
    <div class="col-4"> 
        <a href="/index.html"> 
            <img src="/images/essentie-logo-roze.png" style="height: 70px" class="inline-block"> 
        </a>
        <div> 
            <p> S&amp;SI Bazel, uw rustpunt tussen Antwerpen en het Waasland. Wij bieden een brede selectie aan ontspannende en medisch verantwoorde verzorgingen. Geniet van onze behandelingen en ontvang deskundig advies over schoonheidsproducten die bij u passen.</p>
        </div>
    </div>
    
    <div class="col-4 grid"> 
        <div class="col-6"> 
            <a href="/contact.html"> 
                <h4> Contact</h4> 
            </a>
            <nav class="margin-b-0"> 
                <a href="tel:0477558939" class="display-block"> 0477 55 89 39 </a>
                <a href="mailto:nancy@essentiebazel.be" class="display-block"> nancy@essentiebazel.be </a>
            </nav> 

            <p> BTW: BE0871 640 020</p>

            <nav>
                <a href="https://www.facebook.com/profile.php?id=100063813212756">
                    <i class="icon fab fa-facebook-square padded-r-1"></i>
                </a>
            
                <a href="https://www.instagram.com/essentieburcht/">
                    <i class="icon fab fa-instagram-square"></i>
                </a>
            </nav>

            
        </div>
        <div class="col-6">       
            <h4> Adres </h4>
            <p> Oud-hoflaan 55 <br> 9150 Bazel <br> België </p>
            <nav>
                <a href="https://maps.app.goo.gl/fXP2JybURsbHDnxU6" class="border-bottom-dark-pink"> Routebeschrijving </a>
            </nav>
        </div>
    </div>
</footer> 

<footer class="grid padded-5 text-center bg-light show-mdl hide-sm"> 
    <div class="padded-5 col-12 grid-center">
       <div class="col-6-middle">
            <div class="text-center"> 
                <a href="/index.html"> 
                    <img src="/images/essentie-logo-roze.png" style="height: 60px" class="inline-block"/> 
                </a>
            </div>
            <nav>
                <a href="https://www.facebook.com/profile.php?id=100063813212756">
                    <i class="icon fab fa-facebook-square padded-r-1 padded-t-05"></i>
                </a>
            
                <a href="https://www.instagram.com/essentieburcht/">
                    <i class="icon fab fa-instagram-square padded-t-05"></i>
                </a>
            </nav>
            <p class="padded-l-5 padded-r-5 md-padded-l-2 md-padded-r-2"> S&amp;SI Bazel, uw rustpunt tussen Antwerpen en het Waasland. Wij bieden een brede selectie aan ontspannende en medisch verantwoorde verzorgingen. Geniet van onze behandelingen en ontvang deskundig advies over schoonheidsproducten die bij u passen.</p>
            <div class="inline text-center">
                <a href="tel:0477558939" class="button"> Contacteer ons </a>
            </div>
        </div>
    </div>    
</footer>

<footer class="grid padded-5 text-center bg-light show-sm hide-xs"> 
    <div class="padded-5 col-12 grid-center">
       <div class="col-6-middle">
            <div class="text-center"> 
                <a href="/index.html"> 
                    <img src="/images/essentie-logo-roze.png" style="height: 45px" class="inline-block"/> 
                </a>
            </div>
            <nav>
                <a href="https://www.facebook.com/profile.php?id=100063813212756">
                    <i class="fab fa-facebook-square padded-r-1 padded-t-05"></i>
                </a>
            
                <a href="https://www.instagram.com/essentieburcht/">
                    <i class="fab fa-instagram-square padded-t-05"></i>
                </a>
            </nav>
            <p> S&amp;SI Bazel, uw rustpunt tussen Antwerpen en het Waasland. Wij bieden een brede selectie aan ontspannende en medisch verantwoorde verzorgingen. Geniet van onze behandelingen en ontvang deskundig advies over schoonheidsproducten die bij u passen.</p>
            <div class="inline text-center">
                <a href="tel:0477558939" class="button"> Contacteer ons </a>
            </div>
        </div>
    </div>    
</footer>

<footer class="padded-sm text-center bg-light show-xs hide-xxs"> 
    <div class="padded-5">
       <div>
            <div class="text-center"> 
                <a href="/index.html"> 
                    <img src="/images/essentie-logo-roze.png" style="height: 45px" class="inline-block"/> 
                </a>
            </div>
            <nav>
                <a href="https://www.facebook.com/profile.php?id=100063813212756">
                    <i class="fab fa-facebook-square padded-r-1 padded-t-05"></i>
                </a>
            
                <a href="https://www.instagram.com/essentieburcht/">
                    <i class="fab fa-instagram-square padded-t-05"></i>
                </a>
            </nav>
            <p class=""> S&amp;SI Bazel, uw rustpunt tussen Antwerpen en het Waasland. Wij bieden een brede selectie aan ontspannende en medisch verantwoorde verzorgingen. Geniet van onze behandelingen en ontvang deskundig advies over schoonheidsproducten die bij u passen.</p>
            <div class="inline text-center">
                <a href="tel:0477558939" class="button"> Contacteer ons </a>
            </div>
        </div>
    </div>    
</footer>

<footer class="padded-sm text-center bg-light show-xxs"> 
    <div class="padded-5">
       <div>
            <div class="text-center"> 
                <a href="/index.html"> 
                    <img src="/images/essentie-logo-roze.png" style="height: 35px" class="inline-block"/> 
                </a>
            </div>
            <nav>
                <a href="https://www.facebook.com/profile.php?id=100063813212756">
                    <i class="fab fa-facebook-square padded-r-1 padded-t-05"></i>
                </a>
            
                <a href="https://www.instagram.com/essentieburcht/">
                    <i class="fab fa-instagram-square padded-t-05"></i>
                </a>
            </nav>
            <p class=""> S&amp;SI Bazel, uw rustpunt tussen Antwerpen en het Waasland. Wij bieden een brede selectie aan ontspannende en medisch verantwoorde verzorgingen. Geniet van onze behandelingen en ontvang deskundig advies over schoonheidsproducten die bij u passen.</p>
            <div class="inline text-center">
                <a href="tel:0477558939" class="button"> Contacteer ons </a>
            </div>
        </div>
    </div>    
</footer>