<!---------------------------- Footer ------------------------->

<footer class="padded-2 grid-spaceBetween bg-light-footer hide-mdl hide-sm">
    
    <!-- <div class="col-4"> 
        <p> Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.</p>
    </div> -->
    
    <div class="col-4 grid"> 
        <div class="col-6"> 
            <p> 
                <a href="/index.html"> Ontwerpstudio SoulMade </a> <br>  
                <a href="https://maps.app.goo.gl/fXP2JybURsbHDnxU6" class="border-bottom-dark-pink"> Populierenlaan 13 </a> <br>
                2070 Burcht <br> 
                <a href="tel:0499610604" class="display-block"> 0499 61 06 04 </a> 
                <a href="mailto:hallo@ossm.be" class="display-block"> hallo@ossm.be </a> 
                BTW: BE0871 640 020
            </p>         
        </div>
    </div>
    <div class="col-2 text-right"> 
        <a href="/index.html"> 
            <img src="/images/ossm-logo-mark.png" style="height: 150px" class="inline-block"> 
        </a>
    </div>

</footer> 

<footer class="grid padded-5 text-center bg-light show-mdl hide-sm"> 
    <div class="padded-5 col-12 grid-center">
       <div class="col-6-middle">
            <div class="text-center"> 
                <a href="/index.html"> 
                    <img src="/images/ossm-primary-logo.png" style="height: 60px" class="inline-block"/> 
                </a>
            </div>
            <nav>
                <a href="https://facebook.com/ontwerpstudioSoulMade">
                    <i class="icon fab fa-facebook-square padded-r-1 padded-t-05"></i>
                </a>
            
                <a href="https://instagram.com/ontwerpstudio_soulmade">
                    <i class="icon fab fa-instagram-square padded-r-1 padded-t-05"></i>
                </a>

                <a href="https://pinterest.com/ontwerpstudioSoulMade/">
                    <i class="icon fab fa-brands fa-square-pinterest"></i>
                </a>
            </nav>
            <p class="padded-l-5 padded-r-5 md-padded-l-2 md-padded-r-2"> Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.</p>
            <div class="inline text-center">
                <a href="tel:0499610604" class="button"> Contacteer ons </a>
            </div>
        </div>
    </div>    
</footer>

<footer class="grid padded-5 text-center bg-light show-sm hide-xs"> 
    <div class="padded-5 col-12 grid-center">
       <div class="col-6-middle">
            <div class="text-center"> 
                <a href="/index.html"> 
                    <img src="/images/ossm-primary-logo.png" style="height: 45px" class="inline-block"/> 
                </a>
            </div>
            <nav>
                <a href="https://facebook.com/ontwerpstudioSoulMade">
                    <i class="fab fa-facebook-square padded-r-1 padded-t-05"></i>
                </a>
            
                <a href="https://instagram.com/ontwerpstudio_soulmade">
                    <i class="fab fa-instagram-square padded-r-1 padded-t-05"></i>
                </a>

                <a href="https://pinterest.com/ontwerpstudioSoulMade/">
                    <i class="fab fa-brands fa-square-pinterest"></i>
                </a>
            </nav>
            <p> Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.</p>
            <div class="inline text-center">
                <a href="tel:0499610604" class="button"> Contacteer ons </a>
            </div>
        </div>
    </div>    
</footer>

<footer class="padded-sm text-center bg-light show-xs hide-xxs"> 
    <div class="padded-5">
       <div>
            <div class="text-center"> 
                <a href="/index.html"> 
                    <img src="/images/ossm-primary-logo.png" style="height: 45px" class="inline-block"/> 
                </a>
            </div>
            <nav>
                <a href="https://facebook.com/ontwerpstudioSoulMade">
                    <i class="fab fa-facebook-square padded-r-1 padded-t-05"></i>
                </a>
            
                <a href="https://instagram.com/ontwerpstudio_soulmade">
                    <i class="fab fa-instagram-square padded-r-1 padded-t-05"></i>
                </a>

                <a href="https://pinterest.com/ontwerpstudioSoulMade/">
                    <i class="fab fa-brands fa-square-pinterest"></i>
                </a>
            </nav>
            <p class=""> Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.</p>
            <div class="inline text-center">
                <a href="tel:0499610604" class="button"> Contacteer ons </a>
            </div>
        </div>
    </div>    
</footer>

<footer class="padded-sm text-center bg-light show-xxs"> 
    <div class="padded-5">
       <div>
            <div class="text-center"> 
                <a href="/index.html"> 
                    <img src="/images/ossm-primary-logo.png" style="height: 35px" class="inline-block"/> 
                </a>
            </div>
            <nav>
                <a href="https://facebook.com/ontwerpstudioSoulMade">
                    <i class="fab fa-facebook-square padded-r-1 padded-t-05"></i>
                </a>
            
                <a href="https://instagram.com/ontwerpstudio_soulmade">
                    <i class="fab fa-instagram-square padded-r-1 padded-t-05"></i>
                </a>

                <a href="https://pinterest.com/ontwerpstudioSoulMade/">
                    <i class="fab fa-brands fa-square-pinterest"></i>
                </a>
            </nav>
            <p class=""> Ontwerpstudio Soulmade is een bureau voor zowel particuliere als zakelijke klanten, met een warm moderne stijl en af en toe een speelse toets. We vinden het belangrijk dat zowel architectuur als interieur op elkaar afgestemd zijn en het totaalplaatje klopt. Samen creëeren we een duidelijke look and feel voor jouw brand, voelbaar in alle facetten van je onderneming. Een ongedwongen sfeer, en besprekingen met een tasje koffie/thee mét een 'koekske'.</p>
            <div class="inline text-center">
                <a href="tel:0499610604" class="button"> Contacteer ons </a>
            </div>
        </div>
    </div>    
</footer>