<!---------------------------- Footer --------------------------------->
<footer class="grid-center text-center padded-1">
  <!-- column -->
  

  <!-- column -->
  <div class="col-3 margin-2 divider-right">
    <h4 class="title"> Leer ons kennen </h4>
    <nav>
      <a href="#"> Home </a>
      <a href="#"> Over ons </a>
      <a href="#"> Portfolio </a>
      <a href="#"> Adviseert </a>
      <a href="#"> Geeft vorm </a>
    </nav>
  </div>

  <!-- column -->
    <div class="col-3 margin-2">
        <h2 class="title"> Ontwerpstudio soulmade </h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <nav>
            <i class="padded-r-1 fa-brands fa-facebook"></i>
            <i class="padded-r-1 fa-brands fa-instagram"></i>
            <i class="padded-r-1 fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-pinterest"></i>
        </nav>
    </div>

  <!-- column -->
  <div class="col-3 margin-2 divider-left">
    <h4 class="title"> Informatie </h4>
    <nav>
      <a href="#"> Populierenlaan 13 </a>
      <a href="#"> 2070 Burcht </a>
      <a href="tel:0499610604"> 0499 61 06 04 </a>
      <a href="mailto:hallo@ossm.be"> hallo@ossm.be </a>
      <a href="#"> Contact </a>
    </nav>
  </div>

  <!-- column -->
  <div class="p-5p">
    
    <nav class="inline">
      <span> &#169; 2025 Ontwerpstudio soulmade </span>|
      <a href="#"> Privacybeleid </a>|
      <a href="#"> Algemene voorwaarden </a>|
      <span> BTW BE0830 698 102 </span>
    </nav>
    
  </div>
  <div>
   
  </div>
</footer>