<header class="grid-spaceBetween col-12 padded-r text-center position-fixed padded-b-2">
    <div class="col-12-top grid">
        <div class="col-3 sm-text-left hide-mdl hide-sm padded-t-1"> 
            <a href="/index.html"> 
                <img src="/images/ossm-primary-logo.png" style="height: 70px" class="inline-block"> 
            </a>
        </div>
    
        <div class="col-3 sm-text-left show-mdl"> 
            <a href="/index.html"> 
                <img src="/images/ossm-primary-logo.png" style="height: 50px" class="inline-block"> 
            </a>
        </div>
    
        <nav class="col-6-middle text-center hide-md"> 
            <a href="/index.html" class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/' %} active {% endif %}"> Home </a>
            <a href="/over-ons.html"   class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/over-ons.html' or page.url == '/faq.html' %} active {% endif %}">Over ons</a>
            <a href="/portfolio.html" class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/portfolio.html' %} active {% endif %}" > Portfolio </a>
            <div class="dropdown">
                <a href="/aanbod.html" class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/aanbod.html' or page.url == '/adviseert-aanbod.html' or page.url == '/ontwerpt-aanbod.html' %} active {% endif %}" > Aanbod </a>

                <div class="dropdown-content">
                    <a href="/adviseert-aanbod.html">Adviseert</a>
                    <a href="/ontwerpt-aanbod.html">Ontwerpt</a>
                </div>
            </div>
            
            <!-- <div class="dropdown">
                <a href="/adviseert.html"
                    class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/adviseert.html' or page.url == '/adviseert-aanbod.html' %} active {% endif %}">
                    Adviseert
                </a>

                <div class="dropdown-content">
                    <a href="/adviseert.html">Adviseert</a>
                    <a href="/adviseert-aanbod.html">Aanbod</a>
                </div>
            </div>

            <div class="dropdown">
                <a href="/ontwerpt.html"
                    class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/ontwerpt.html' or page.url == '/ontwerpt-aanbod.html' %} active {% endif %}">
                    Ontwerpt
                </a>

                <div class="dropdown-content">
                    <a href="/ontwerpt.html">Ontwerpt</a>
                    <a href="/ontwerpt-aanbod.html">Aanbod</a>
                </div>
            </div> -->
          
            <a href="/contact.html" class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/contact.html' %} active {% endif %}" > Contact </a>
        </nav>

        <nav class="col-3-middle text-right padded-r-6 hide-md"> 
            <a class="padded-05 bg-border-yellow button-header" href="/contact.html#meeting">
                Plan een gesprek in
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="icon-arrow">
                    <path d="M19.2,49.2h54.4c2.1,0,4,0,5.7,0l.5.6-.5.6c-1.7,0-3.6,0-5.7,0H19.2v-1.5h0ZM50.1,22.2l1.5-.9c2.8,3.9,5.7,7.4,8.6,10.6s6.1,6.3,9.4,9.2,7.1,5.8,11.2,8.8v.2c-4.1,2.9-7.8,5.9-11.2,8.8-3.3,2.9-6.5,6-9.4,9.1-2.9,3.2-5.8,6.7-8.7,10.7l-1.5-.9c2.3-3.1,4.7-6,7.2-8.7s5-5.3,7.4-7.7c2.5-2.4,4.9-4.6,7.4-6.5,2.4-1.9,4.8-3.6,7-4.9v.2c-2.3-1.3-4.6-3-7-4.9s-4.9-4.1-7.4-6.5-5-5-7.4-7.7-4.9-5.7-7.2-8.7v-.2Z"/>
                </svg>
            </a>
        </nav>

    
        <nav class="col-3-middle show-md">
            <div class="hamburger-button"> 
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </div>
    
            <div class="mobile-menu"> 
                <a href="/index.html"> Home </a>
                <a href="/over-ons.html"> Over Ons </a>
                <a href="/portfolio.html"> Portfolio </a>
                <a href="/aanbod.html"> Aanbod </a>
                <a href="/contact.html"> Contact </a>
            </div>
        </nav>
    </div>  
</header>