<header class="grid-spaceBetween col-12 padded-r text-center position-fixed padded-b-2">
    <div class="col-12-top grid-spaceBetween">
        <nav class="col-5 text-left padded-1 padded-l-2 hide-md"> 
            <a href="/index.html" class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/' %} active {% endif %}"> Home </a>
            <a href="/over-ons.html"   class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/over-ons.html' or page.url == '/faq.html' %} active {% endif %}">Over ons</a>
            <a href="/portfolio.html" class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/portfolio.html' %} active {% endif %}" > Portfolio </a>
            <div class="dropdown">
                <a href="/aanbod.html" class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/aanbod.html' or page.url == '/adviseert-aanbod.html' or page.url == '/ontwerpt-aanbod.html' %} active {% endif %}" > Aanbod </a>

                <div class="dropdown-content">
                    <a href="/adviseert-aanbod.html">Adviseert</a>
                    <a href="/ontwerpt-aanbod.html">Ontwerpt</a>
                </div>
            </div>
            
            <!-- <div class="dropdown">
                <a href="/adviseert.html"
                    class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/adviseert.html' or page.url == '/adviseert-aanbod.html' %} active {% endif %}">
                    Adviseert
                </a>

                <div class="dropdown-content">
                    <a href="/adviseert.html">Adviseert</a>
                    <a href="/adviseert-aanbod.html">Aanbod</a>
                </div>
            </div>

            <div class="dropdown">
                <a href="/ontwerpt.html"
                    class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/ontwerpt.html' or page.url == '/ontwerpt-aanbod.html' %} active {% endif %}">
                    Ontwerpt
                </a>

                <div class="dropdown-content">
                    <a href="/ontwerpt.html">Ontwerpt</a>
                    <a href="/ontwerpt-aanbod.html">Aanbod</a>
                </div>
            </div> -->
          
            <a href="/contact.html" class="padded-r-2 padded-t-1 site-header-a {% if page.url == '/contact.html' %} active {% endif %}" > Contact </a>
        </nav>
       
        <div class="col-2-right_xs-12 sm-text-left hide-mdl hide-sm padded-t-1"> 
            <a href="/index.html"> 
                <img src="/images/ossm-primary-logo.png" style="height: 70px" class="inline-block"> 
            </a>
        </div>
    
        <div class="col-2 sm-text-left show-mdl padded-1"> 
            <a href="/index.html"> 
                <img src="/images/ossm-primary-logo.png" style="height: 50px" class="inline-block"> 
            </a>
        </div>
    
       

        <nav class="col-5-middle text-right padded-r-2 hide-md padded-1"> 
           <a class="padded-05 bg-border-yellow button-header" href="/contact.html#meeting">
                <span>Plan een gesprek in</span>
                <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                    <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
                </svg>
            </a>
        </nav>

    
        <nav class="col-3-middle show-md">
            <div class="hamburger-button"> 
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </div>
    
            <div class="mobile-menu"> 
                <a href="/index.html"> Home </a>
                <a href="/over-ons.html"> Over Ons </a>
                <a href="/portfolio.html"> Portfolio </a>
                <a href="/aanbod.html"> Aanbod </a>
                <a href="/contact.html"> Contact </a>
            </div>
        </nav>
    </div>  
</header>