<!DOCTYPE html> 
<html>
    <head> 

        <!--- Head scripts -->
        {% include head.html %}
    
    </head>
    <body>
        <!--- Header -->
        {% include site-header-nav.html %}


        {{ content }}


        <!--- Footer -->
        {% include site-footer.html %}

        <!--- Body scripts -->
        {% include body-scripts.html %}

        <!-- Cookies banner -->
        {% include cookie-banner.html %}
        {% include cookie-button.html %}

        <!-- MailerLite Universal -->
        <script>
            (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
            .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
            n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
            (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
            ml('account', '1939074');
        </script>
<!-- End MailerLite Universal -->
        <!-- End MailerLite Universal -->
    
    </body>
</html>

   