<!DOCTYPE html> 
<html>
    <head> 

        <!--- Head scripts -->
        {% include head.html %}
    
    </head>
    <body>
        <!--- Header -->
        {% include site-header-nav.html %}


        {{ content }}


        <!--- Footer -->
        {% include site-footer.html %}

        <!--- Body scripts -->
        {% include body-scripts.html %}

        <!-- Cookies banner -->
        {% include cookie-banner.html %}
        {% include cookie-button.html %}
    
    </body>
</html>

   