---
layout: default
---

<!----------------------------- Banner ------------------------------->
<section class="grid padded-16 padded-t-12 mdl-padded-7 mdl-padded-l-10 mdl-padded-t-13 sm-padded-4 xs-padded-2 sm-padded-t-8 xs-padded-t-10 tall-80 md-tall-50 xs-tall-30">
  <div class="grid col-3_lg-4_md-7_sm-10">
    <div class="col-12-top">
        <h1 class="col-4-left padded-0 title-medium-oversized"> {{page.title}} </h1>
        <p class="title-categories">{{page.categories}}</p>
    </div>
    
    <div class="col-12-middle"> 
      <h3 class="title-testimonial padded-r-3"> {{page.description}} </h3>
    </div>
    
    <div class="col-12-bottom padded-b-0 md-padded-b-5">
      <a class="padded-05 bg-border-yellow button-header" href="/contact.html#meeting">
                <span>Plan een gesprek in</span>
                <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
                    <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
                </svg>
            </a>
    </div>
  </div>
  
  <div class="grid-spaceBetween col-8 hide-md">
    <div class="col-5-bottom bg-image position-img-1 tall-50" style="background-image: url('{{page.left_image}}');"> </div>
    <div class="col-5 bg-image position-img-2 height-50 " style="background-image: url('{{page.right_image}}');"> </div>
  </div>
  
  <div class="grid col-12 show-md hide-sm">
    <div class="col-bottom bg-image tall-50" style="background-image: url('{{page.left_image}}');"> </div>
  </div>

  <div class="grid col-12 hide-md show-sm">
    <div class="col-bottom bg-image tall-50" style="background-image: url('{{page.left_image}}');"> </div>
  </div>
</section>


<!----------------------------- Banner Back-up ------------------------------->
<!-- <section class="grid-center padded-5 padded-b-0">
    
    <div class="grid-center col-12">
       <h2 class="col-4-left padded-0 title-medium-oversized"> {{page.title}} </h2>
       <h2 class="col-6-left padded-0 title-medium-oversized margin-r-1"></h2>
       <div class="col-4_xs-12 margin-r-2">
            <p class="title-categories">{{page.categories}}</p>
            <h3 class="divider-left title-testimonial padded-1 padded-t-0 padded-b-0"> {{page.testimonial}} </h3> -->
            <!-- <p class="project-description padded-b-2"> {{page.description}} </p> -->
           <!-- <h1>{{page.title}}</h1>
           <p>Written by {{page.author}}</p>
           <p>{{page.date}}</p> -->
       <!-- </div>
      
       <div class="col-6-right_xs-12">
            <div class="bg-image landscape-wide" style="background-image: url('{{page.left_image}}');"></div>
            <hr class="padded-t-0">
       </div>

       <div class="col-6-right_xs-12">
            <div class="bg-image landscape-wide overlapping-img" style="background-image: url('{{page.right_image}}');"></div>
       </div> -->

       <!-- <div class="col-6-right_xs-12">
            <div class="bg-image portrait-project overlapping-img" style="background-image: url('{{page.right_image}}');"></div>
       </div> -->
    <!-- </div>

</section> -->



<!----------------------------- Content ------------------------------->
<section class="grid padded-16 padded-b-10 mdl-padded-7 mdl-padded-l-10 sm-padded-4 xs-padded-2 padded-t-0 md-padded-t-0 md-padded-b-1">

    
    <div class="col-12-center padded-1 padded-t-2">
        
        {{content}}
    
    </div>
</section>


<!-------------------------- Pictures after  ------------------------------->
<section class="padded-16 padded-b-0 mdl-padded-7 mdl-padded-l-10 sm-padded-4 xs-padded-2 gallery-project grid tall-80 md-tall-30 margin-t-5 mdl-margin-t-3 padded-t-0 mdl-padded-t-0" id="lightgallery">

  {% for item in page.project_na %}
    <a class="{{ item.column_size }}"
       href="{{ item.image | relative_url }}"
       data-sub-html="">

      <div class="lightgallery-img bg-image {{ item.aspect_ratio }}"
           style="background-image: url('{{ item.image | relative_url }}');"></div>
    </a>
  {% endfor %}

</section>

<!-------------------------- Pictures before  ------------------------------->
{% if page.project_voor and page.project_voor.size > 0 %}
<section class="padded-16 padded-t-10 padded-b-0 mdl-padded-7 mdl-padded-l-10 sm-padded-4 xs-padded-2 gallery-project grid tall-80 md-tall-30 margin-t-5 mdl-margin-t-3 padded-t-0 mdl-padded-t-0" id="lightgallery-voor">

  <h2 class="col-12 padded-l-05"> Foto's vooraf </h2>

  {% for item in page.project_voor %}
    <a class="{{ item.column_size }}"
       href="{{ item.image | relative_url }}"
       data-sub-html="">
      <div class="lightgallery-img bg-image {{ item.aspect_ratio }}"
           style="background-image: url('{{ item.image | relative_url }}');"></div>
    </a>
  {% endfor %}

  <!-- project descroption in lightgallery: data-sub-html="{{ item.description }} -->
</section>
{% endif %}


<section class="padded-16 padded-b-5 mdl-padded-7 mdl-padded-l-10 sm-padded-4 xs-padded-2 gallery-project grid padded-t-0 mdl-padded-t-0">

  <a class="button bg-border-yellow margin-05" href="/portfolio.html"> 
    <span> Bekijk meer projecten </span>
    <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" aria-hidden="true">
      <path d="M9.7,38.7h45.2c1.8,0,3.8.1,6,.2,2.2,0,4.2.1,6,.2l1.4,1-1.4,1c-1.9,0-3.9.1-6,.2-2.2,0-4.2,0-6,0H9.7c0,0,0-2.6,0-2.6ZM39.5,13.1l2.3-1.6c2.8,4,5.6,7.6,8.4,10.8,2.9,3.3,5.9,6.3,9.1,9.1,3.2,2.8,6.8,5.7,10.6,8.5v.2c-3.9,2.8-7.5,5.6-10.7,8.5-3.2,2.8-6.3,5.8-9.1,9.1-2.9,3.2-5.7,6.8-8.5,10.9l-2.3-1.6c2.3-3.2,4.7-6.2,7.1-8.9,2.5-2.8,4.9-5.3,7.4-7.6,2.4-2.3,4.9-4.4,7.2-6.2,2.4-1.8,4.7-3.3,6.9-4.5v.7c-2.2-1.2-4.5-2.7-6.9-4.5-2.4-1.8-4.8-3.9-7.2-6.2-2.4-2.3-4.9-4.9-7.3-7.6-2.5-2.8-4.8-5.8-7.1-8.9Z"/>
    </svg>
  </a>

</section>

<!-------------------------- Services Back-up ------------------------------->
<!-- <section class="padded-md grid-center"> 
    <div class="col-7-center">
       <div class="container" id="lightgallery">
            <div class="box box-1" style="--img: url('{{ page.project_image_1 | relative_url }}');" data-src="{{ page.project_image_1 | relative_url }}" data-text="{{ page.project_image_1_datatext }}" data-sub-html="{{ page.project_image_1_datatext }}"> </div>

            <div class="box box-2" style="--img: url('{{ page.project_image_2 | relative_url }}');" data-src="{{ page.project_image_2 | relative_url }}" data-text="{{ page.project_image_2_datatext }}" data-sub-html="{{ page.project_image_2_datatext }}"></div>

            <div class="box box-3" style="--img: url('{{ page.project_image_3 | relative_url }}');" data-src="{{ page.project_image_3 | relative_url }}" data-text="{{ page.project_image_3_datatext }}" data-sub-html="{{ page.project_image_3_datatext }}"></div>

            <div class="box box-4" style="--img: url('{{ page.project_image_4 | relative_url }}');" data-src="{{ page.project_image_4 | relative_url }}" data-text="{{ page.project_image_4_datatext }}" data-sub-html="{{ page.project_image_4_datatext }}"></div>

            <div class="box box-5" style="--img: url('{{ page.project_image_5 | relative_url }}');" data-src="{{ page.project_image_5 | relative_url }}" data-text="{{ page.project_image_5_datatext }}" data-sub-html="{{ page.project_image_5_datatext }}"></div>
        </div>
    </div>
</section> -->


<!-------------------------- Social Share --------------------------->
{% include social-share.html %}

